<library path="rqt_slides">
  <class name="rqt_slides/Slideshow" type="rqt_slides::Slideshow" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A RQT plugin to view a slides from XML files.
    </description>
    <qtgui>
      <group>
        <label>ROSCON ES</label>
        <icon type="theme">folder</icon>
        <statustip>ROSCON plugins for presentations.</statustip>
      </group>
      <label>Slideshow</label>
      <icon type="theme">x-office-presentation</icon>
      <statustip>A RQT plugin to view a slides from XML files.</statustip>
    </qtgui>
  </class>
</library>