<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="auv_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <!-- hardware interface mock/stonefish/real_thruster -->
      <!-- <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="calculate_dynamics">true</param>
      </hardware> -->

      <hardware>
        <plugin>stonefish_hw_interface/ThrusterGroupHWInterface</plugin>
        <param name="thruster_group_write_topic">auv/sf_controller/thruster_setpoints_sim</param>
        <param name="thruster_group_read_topic">auv/sf_controller/thruster_state</param>
      </hardware>

      <!-- <thruster>
      <param name="maxSetpoint">300</param>
      </thruster> -->

      <joint name="${prefix}/thruster3_joint">
        <command_interface name="velocity">
          <param name="max_setpoint">100</param>
        </command_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}/thruster4_joint">
        <command_interface name="velocity">
          <param name="max_setpoint">100</param>
        </command_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>