<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="2dof_robot">
  <xacro:arg name="prefix" default="" />

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find auv_description)/urdf/auv_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find auv_description)/urdf/auv.materials.xacro" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find auv_description)/urdf/auv.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <!-- <link name="world" /> -->

  <xacro:auv_bot parent="world"
    prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:auv_bot>

  <xacro:auv_ros2_control name="auv" prefix="$(arg prefix)" />
</robot>