<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Static transform -->
    <node name="world2ned" pkg="tf2_ros" exec="static_transform_publisher" namespace="world2ned"
        args="--roll 3.1415 --frame-id world --child-frame-id world_ned"/>

    <!-- Simulation parameters -->
    <let name="simulation_data" value="$(find-pkg-share bluerov_stonefish)/resources"/>
    <let name="scenario_description" value="$(find-pkg-share bluerov_stonefish)/scenarios/sea.scn"/>
    <let name="simulation_rate" value="100.0"/>
    <let name="window_res_x" value="1440"/>
    <let name="window_res_y" value="900"/>
    <let name="rendering_quality" value="low"/>

    <!-- Run Simulator -->
    <node name="stonefish_simulator" pkg="stonefish_ros2" exec="stonefish_simulator"
        namespace="stonefish_simulator"
        args="$(var simulation_data) $(var scenario_description)
              $(var simulation_rate) $(var window_res_x) $(var window_res_y) 
              $(var rendering_quality)"
        output="screen"></node>

    <let name="robot_name" value="bluerov_roscon"/>

    <node name="odom2tf" pkg="bluerov_stonefish" exec="odom_to_tf.py" namespace="odom2tf">
        <remap from="/odom_topic" to="/$(var robot_name)/dynamics/odometry_truth"/>
        <param name="fixed_frame" value="world_ned"/>
        <param name="base_link" value="/$(var robot_name)/base_link"/>
    </node>

    <node name="navigator" pkg="auv_architecture" exec="auv_navigator_node"
        namespace="$(var robot_name)">
        <remap from="/sub_odom_topic" to="/$(var robot_name)/dynamics/odometry_truth"/>
        <param name="frame_id" value="world_ned"/>
    </node>

    <node name="events_renderer" pkg="auv_architecture" exec="event_render_node">
        <remap from="/events_topic" to="/event_cam"/>
        <remap from="/image_topic" to="/event_image"/>
    </node>

    <!-- <node name="rviz" pkg="rviz2" exec="rviz2" namespace="rviz"
        args="-d $(find-pkg-share bluerov_stonefish)/config/view.rviz" /> -->
</launch>