<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="2dof_robot">
  <xacro:arg name="prefix" default="bluerov_roscon"/>

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find bluerov_roscon_description)/urdf/bluerov_roscon.materials.xacro"/>

  <!-- Import robot macro -->
  <xacro:include filename="$(find bluerov_roscon_description)/urdf/bluerov_roscon_description.urdf.xacro"/>
  <xacro:add_bluerov parent="world"
    prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:add_bluerov>

  <!-- Import ros2_control description -->
  <xacro:include filename="$(find bluerov_roscon_description)/urdf/bluerov_roscon.ros2_control.xacro"/>
  <xacro:bluerov_roscon_ros2_control name="bluerov_roscon_hw_interface" prefix="$(arg prefix)"/>

  <!-- Used for fixing robot -->
  <!-- <link name="world" /> -->

  <link name="$(arg prefix)/msis_link"/>
  <joint name="$(arg prefix)/msis_joint" type="fixed">
    <parent link="$(arg prefix)/base_link"/>
    <child link="$(arg prefix)/msis_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
  </joint>

  <link name="$(arg prefix)/sss_link"/>
  <joint name="$(arg prefix)/sss_joint" type="fixed">
    <parent link="$(arg prefix)/base_link"/>
    <child link="$(arg prefix)/sss_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
  </joint>

</robot>